---
guide: app
step: create-app
part: directory
title: Create a directory for our app
---


First, let's open a terminal:

<div class="os-specific">
  <div class="nix">
    <p>Search for <em>Terminal</em> on the dash and click <em>Terminal</em>.</p>
  </div>
  <div class="osx">
    <p>Open Spotlight, type <em>Terminal</em> and click the <em>Terminal</em> application.</p>
  </div>
  <div class="windows">    
    <p>Click Start and look for <em>Command Prompt</em>, then click <em>Command Prompt with Ruby and Rails</em>.</p>
    <%= screenshot 'app/tools/command-open-windows.png' %>
  </div>
</div>


A black window will open. This is called a <em>Terminal</em>, or <em>Command Prompt</em>.
<div class="os-specific">
  <div class="windows">
    <%= screenshot 'app/tools/command-windows.png' %>
  </div>
</div>

Now type the following command in the terminal, and then hit <em>Enter</em>.
<% code("sh") do %>mkdir projects<% end %>

This command will create a new directory on your computer named <code>projects</code>.

<div class="os-specific">
  <div class="nix osx">
    <p>
      You can verify that a directory named <code>projects</code> was created by running the list command: <code>ls</code>. You should see the <code>projects</code> directory in the output, like this:
    </p>
  </div>
  <div class="windows">
    <p>
You can verify that a directory named <code>projects</code> was created by running the list command: <code>dir</code>. You should see the <code>projects</code> directory in the output. 
<%= screenshot 'app/app/dir1.png' %>
    </p>  
  </div>
</div>


Now you want to change the directory you are currently in to the <code>projects</code> folder by running:
<% code("sh") do %>cd projects<% end %>


You can verify you are now in an empty directory or folder by again running the <code class="nix osx">ls</code><code class="windows">dir</code> command again.
<%= screenshot 'app/app/dir2.png', 'windows' %>