---
guide: app
step: create-app
part: review
title: סקרי את הקוד
---

<%= image_tag 'app/app/files_and_folders.png', style: 'float: left;' %>

כעת נעבור על חלק מהתיקיות והקבצים שנוצרו לנו ונבין פחות או יותר את תפקידם.

בצד שמאל תוכלי לראות רשימה של חלק מהתיקיות והקבצים שיצרה עבורנו אוטומטית הפקודה <code>rails new</code>. במרובע כתום מסומנים תיקיות וקבצים שיעניינו אותנו היום. 

<table style="max-width: 540px;">
  <thead>
    <tr>
      <th style="width: 30%;">שם התיקייה/קובץ</th>
      <th>תפקיד</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>app</code></td>
      <td>
        זו התיקייה החשובה ביותר באפליקצייה שלך. רוב הקוד שכותבים באפליקציית Rails נמצא שם.
      </td>
    </tr>
    <tr>
      <td><code>app/assets</code></td>
      <td>
        בתיקייה זו נמצאים קבצים סטטיים. אלו הם קבצים ששרת ה-Rails מגיש לדפדפן כפי שהם - מבלי לעשות עליהם עיבוד כלשהו. קבצים כאלו יכולים להיות תמונות, והם ישבו בתיקיית <code>images</code>, קבצי עיצוב (css) שישבו בתיקיית <code>stylesheets</code>, או קבצי JavaScript שלא נדבר עליהם היום.
      </td>
    </tr>
    <tr>
      <td><code>app/controllers</code></td>
      <td>
        בתיקייה זו נמצא קבצי קוד שכתובים בשפת <code>ruby</code>. רוב הלוגיקה של האתר שלך (איך שהאתר פועל ומה שהוא יודע לעשות) תהיה כאן. כרגע האפליקצייה שלך לא עושה הרבה, ולכן כל מה שתראי שם הוא קובץ קטן בשם <code>application_controller.rb</code>. אם תפתחי אותו בעורך הטקסט שלך תראי שהוא מכיל מעט מאוד קוד. בהמשך תוסיפי לתיקייה הזאת עוד דברים.
      </td>
    </tr>
    <tr>
      <td><code>app/models</code></td>
      <td>
        בתיקייה זו נמצאים כל המודלים שלך. את עדיין לא יודעת מה זה מודל ב-Rails. תלמדי זאת בהמשך.
      </td>
    </tr>
    <tr>
      <td><code>app/views</code></td>
      <td>
        כל קוד ה-HTML של האפליקצייה נמצא בתיקייה זו.
      </td>
    </tr>
    <tr>
      <td><code>app/db</code></td>
      <td>
        כל המידע של האפליקצייה נמצא בתיקייה הזו. כרגע אין שם כלום, אבל בהמשך תיקייה זו תכיל את הרעיונות שתצרי.
      </td>
    </tr>
    <tr>
      <td><code>public/index.html</code></td>
      <td>
        הקובץ הזה נמצא אצלך רק אם גרסת ה-Rails שלך היא 3. אם את עובדת עם גירסה 4 לא תראי אותו (וזה בסדר).
        הקובץ הזה מכיל את התוכן של העמוד שראית קודם שכותרתו היא "Welcome aboard".
      </td>
    </tr>
    <tr>
      <td><code>Gemfile</code></td>
      <td>
        קובץ זה מכיל רשימה של ספריות קוד חיצוניות שהאפליקצייה משתמשת בהם. בשלב 6 תלמדי כיצד להשתמש בספריות קוד חיצוניות.
      </td>
    </tr>
  </tbody>
</table>