---
step: create-app
part: app
title: Create a Rails app
---

<p>
  Now you want to create a new app called <code>railsgirls</code> by running:
</p>

<% code("sh") do %>rails new railsgirls<% end %>

<p>
  This will create a new app in the folder <code>railsgirls</code>, so we again want to change the directory to be inside of our rails app by running:
</p>

<% code("sh") do %>cd railsgirls<% end %>

<p>
  If you run <code>dir</code> inside of the directory you should see folders such as <code>app</code> and <code>config</code>.
</p>
