//@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

@import 'compass';

body {
  direction: rtl;

  // font-family: "Alef Hebrew",
  //              “Helvetica Neue”,
  //              Helvetica,
  //              Arial,
  //              sans-serif;
  font-family: 'Open Sans Hebrew', serif;
}
h1, h2, h3, h4, h5 {
  // font-family: "Alef Hebrew",
  //              “Helvetica Neue”,
  //              Helvetica,
  //              Arial,
  //              sans-serif;
  font-family: 'Open Sans Hebrew', serif;  
}

#logo {
  background-image: url(/images/logo-heb.png);
}

body > header {
  #logo {
    float: right;
  }
  .language-selector {
    float: left;
  }  
  nav {
    float: right;
  }
}

#sidebar.guide {

  h2 {
    margin: 0 10px 10px 0;
  }

  #steps {
    & > ul > li > a:before {
      margin: 0 0 0 10px;
    }

    & > ul > li > ul > li > a {
      padding: 5px 36px 5px 10px;
    }

    & > ul > li > ul > li.active a:before {
      margin-right: -19px;
      margin-left: 4px;
      @include rotateY(180deg);
    }
  } // steps
} // guides

.language-selector {
  margin-left: 0; 
  margin-right: 12px;
}

#content.guide {
  margin-left: 0; 
  margin-right: 300px;

  section {
    header {
      left: 0;
      right: 300px;

      h1 {
        float: right;
      }

      #os-selector {
        direction: ltr;
        right: auto;
        left: 50px;
      }
    }
  }
}

pre {
  direction: ltr;
}
code {
  direction: ltr;
  display: inline-block;
}

.right {
  float: left !important;
}

.welcome {
  background-image: url(/images/cover_flip.jpg);

  p {
    float: left;
  }
}