@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import 'compass';

body {
  direction: rtl;

  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
}

#steps > ul > li > a:before {
  margin: 0 0 0 10px;
}

#steps > ul > li > ul > li > a {
  padding: 5px 36px 5px 10px;
}

#steps > ul > li > ul > li.active a:before {
  margin-right: -19px;
  margin-left: 4px;
  @include rotateY(180deg);
}
.language-selector {
  margin-left: 0; 
  margin-right: 12px;
}

#content {
  margin-left: 0; 
  margin-right: 300px;

  section {
    header {
      left: 0;
      right: 300px;

      h1 {
        float: right;
      }

      #os-selector {
        float: left;
        direction: ltr;
      }
    }
  }
}

pre {
  direction: ltr;
}
code {
  direction: ltr;
  display: inline-block;
}

.right {
  float: left !important;
}