body {
  direction: rtl;
}

#steps > ul > li > a:before {
  margin: 0 0 0 10px;
}

#content {
  margin-left: 0; 
  margin-right: 300px;

  section {
    header {
      left: 0;
      right: 300px;

      #os-selector {
        float: left;
        direction: ltr;
      }
    }
  }
}