@import 'compass';
@import 'code';

$orange: #DE390C;

@mixin arrow-right($color: black) {  
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;  
  border-left: 7px solid $color;
  display: inline-block;
  position: relative; top: 1px;
  margin-right: 4px;
}

html {
}

body {
  font-family: 'Cabin', sans-serif;
  line-height: 150%;
  overflow-y: scroll;
}

// os-specific
.windows, .nix, .osx { display: none; }
body.os-windows .windows { display: inline-block; }
body.os-nix .nix { display: inline-block; }
body.os-osx .osx { display: inline-block; }


.language-selector {
  a {
    display: inline-block;
    border: 1px solid #fff;
    @include opacity(0.5);
    padding: 0 5px;
    color: white;
    @include transition(all 0.2s);

    &.active {
      @include opacity(0.8);        
    }

    &:hover {
      @include opacity(1);
    }
  }
  a:first-child {

  }
  a:nth-child(2) {

  }
} // language selector



#logo {
  width: 150px; height: 56px;
  background: url(/images/logo-eng.png) no-repeat;
  background-size: 100%;
  display: block;
}


body > header {
  height: 100px;
  background: $orange;
  padding: 20px;
  margin-bottom: 20px;

  .wrapper {
    width: 960px;
    margin: auto;
  }

  #logo {
    float: left;
  }

  .language-selector {
    float: right;
    margin-top: 16px;
  }

  nav {
    float: left;
    padding: 18px 50px 20px 50px;

    a {
      color: white;
      font-size: 20px;
      padding: 15px;

      &:hover {
        color: white;
      }
    }
  }
}

#content:not(.guide) {
  .wrapper {
    width: 960px;
    margin: auto;
  }
}

.welcome {
  background: url(/images/cover.jpg) no-repeat;
  background-size: 100%;
  height: 400px;

  p {
    width: 50%;
    float: right;
  }
  p:first-child {
    font-size: 35px; line-height: 50px;
  }

  p:nth-child(2) {
    clear: both;
  }
}

.index, .en_index {
  padding-bottom: 50px;

  #workshops {
    width: 45%;
    float: left;

    h1 {
      margin-bottom: 34px;
    }

    article {
      margin-bottom: 21px;
      border-bottom: 1px dotted #999;
      padding-bottom: 17px;

      .where {
        font-size: 30px;
        display: inline-block;
        width: 150px;
      }

      .when {
        display: inline-block;
      }
    }
  }

  #photos {
    width: 50%;
    float: right;
    position: relative;

    a {
      width: 100%;
      position: absolute; top: 0; left: 0;
      @include opacity(0);
      @include transition(opacity 0.2s);

      &.active {
        @include opacity(1);
      }

      img {
        width: 100%;
      }
    }
  }
}// index


#sidebar.guide {
  float: left;
  position: fixed;
  width: 300px;
  height: 100%;
  background: $orange;
  padding: 20px 20px 20px 10px;
  @include box-sizing(border-box);
  z-index: 2;

  color: white;

  #logo {
    margin: 0 auto 25px auto;
  }
  #toggle-nav { display: none; }

  h2 {
    border-top: 1px solid rgba(white, 0.3);    
    padding-top: 15px;
    margin: 0 0 10px 10px;
    font-size: 30px;
    color: white;
  }

  #steps {
    overflow-y: auto;
    .wrapper {
      & > ul {
        counter-reset: step;
        list-style-type: none;
        margin-left: 0;

        a { 
          color: white; 
          border-top: 1px solid rgba(white, 0);
          border-bottom: 1px solid rgba(white, 0);
          transition: all 0.2s;
          @include text-shadow(1px 1px 3px rgba(darken($orange, 30), 0.5));
        }
        a:hover {
          // border-bottom: 1px solid lighten($orange, 8);
          // border-top: 1px solid lighten($orange, 8);
        }

        & > li {
          &.active {        
            font-weight: bold;
          }
          &.active a:before {
            color: white;
            border-color: white;
          }
          &.active a, &:hover a {
            @include opacity(1);
          }

          & > a {
            font-size: 20px;   
            padding: 8px 10px;  
            display: block; 
            @include opacity(0.9);

            &:hover {
              &:before {
                color: white;
                border-color: white;
              }
            }

            &:before {
              transition: all 0.2s;
              content: counter(step);
              counter-increment: step;
              display: inline-block;
              @include border-radius(50%);
              border: 2px solid white;
              margin: 0 10px 0 0; position: relative; top: -1px;
              width: 25px; height: 25px;
              text-align: center; line-height: 21px;
              font-size: 16px;
              @include text-shadow(none);

              color: lighten($orange, 20);
              border-color: lighten($orange, 20);
            }
          }
          & > ul {
            margin: 0;
            padding: 0px 10px 20px 10px;
            display: none;
            list-style-type: none;

            & > li > a {        
              padding: 5px 10px 5px 36px;
              display: block;
              font-size: 17px;
              line-height: 100%;
              @include box-sizing(border-box);
              font-weight: normal;
              border-bottom: 2px solid rgba(white, 0);

              &:hover {
                //border-bottom: 2px solid lighten($orange, 20);
                text-decoration: underline;
              }
            }

            & > li.active a {
              font-weight: bold;
              &:before {
                //@include arrow-right(white);
                content: '➜';
                display: inline-block; margin-right: 4px;
                margin-left: -19px;
              }
            }
          }
          &.active ul { display: block; }
        }
      }
    } // steps
  } // sidebar

  .language-selector {
    margin-top: 24px;
    margin-left: 12px;
  }

} // steps



body.scrolled #content header {
  @include box-shadow(0px 0px 15px rgba(black, 0.2));
}

#content.guide {
  display: block;
  margin-left: 300px;
  padding: 25px 50px;
  z-index: 1;

  section {
    padding-top: 100px;
    max-width: 800px;

    header {
      margin: 0;
      font-size: 40px;
      font-weight: normal;
      position: fixed; top: 0;
      background: rgba(white, 0.95);
      left: 300px; right: 0;
      padding: 25px 50px 20px 50px;
      @include transition(box-shadow 0.2s);

      h1 {
        float: left;
      }
      a {
        float: right; margin-right: 45px; margin-top: 5px;
      }

      #os-selector {
        font-size: 16px;
        position: absolute; top: 45px; right: 50px;

        select {
          background-position-x: 90%;
          min-width: 130px;
        }
      }
    }
  }

  img {
    max-width: 100%;
  }

  p {    
    a {
      text-decoration: underline;
      display: inline-block; padding: 0 4px;
      margin: 0 -1px;

      &:hover {
        background: $orange;
        color: #fff;
        text-decoration: none;
      }
    }

    &.credit {
      font-style: italic;
      a {
        text-decoration: none;
      }
    }
  }

  img {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 4px;
    @include box-shadow(1px 1px 3px rgba(black, 0.1));

    .full-width {
      max-width: 100%;
    }
  }

  table {
    td {
      line-height: 150%;      
    }
  }

  .button {
    padding: 10px;
    margin-bottom: 0;
  }

} // tools

#lightbox img {
  max-width: inherit;
}
.screenshot {
  background: transparent !important;
  padding: 0 !important;
}

#facebook_button {
  text-decoration: none !important;
  background: #4c66a4;
  margin-right: 5px !important;
}

@media all and (max-width: 800px) {
  #sidebar.guide { 
    position: static;
    width: 100%;
    height: auto;
    padding: 10px;

    #logo {
      width: 100px;
      height: 42px;
      margin-bottom: 5px;
    }

    h2 {
      font-size: 18px;
      display: none;
    }
    a { font-size: 16px !important; }

    #toggle-nav {
      display: block;
      color: white;
      float: left;
    }

    #steps {
      display: none;
      height: auto !important;
    }

    .language-selector {
      display: none;
    }
  }
  #content.guide { 
    width: 100%;
    padding: 10px;
    margin: 0 !important;
    section {
      padding-top: 0;
      header {
        left: 0;
        position: static;
        padding: 0;

        #os-selector {
          position: static;
          display: block;
        }
      }
    }
  }

  body.scrolled {
    #content header {
      @include box-shadow(none);
    }
  }
}