@import 'compass';
@import 'code';

$orange: #DE390C;

@mixin arrow-right($color: black) {  
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;  
  border-left: 7px solid $color;
  display: inline-block;
  position: relative; top: 1px;
  margin-right: 4px;
}

html {
  height: 100%;
}

body {
  font-family: 'Cabin', sans-serif;
  height: 100%;
  line-height: 150%;
  overflow-y: scroll;
}

// os-specific
.windows, .nix, .osx { display: none; }
body.os-windows .windows { display: inline-block; }
body.os-nix .nix { display: inline-block; }
body.os-osx .osx { display: inline-block; }


.smiley {
  display: inline-block;
  font-weight: bold;
}

#sidebar {
  float: left;
  position: fixed;
  width: 300px;
  //@include box-shadow(1px 0px 2px 0px rgba(#000, 0.5));
  min-height: 100%;
  background: $orange;
  padding: 20px 20px 20px 10px;
  @include box-sizing(border-box);
  z-index: 2;

  color: white;
  a { 
    color: white; 
    border-top: 1px solid rgba(white, 0);
    border-bottom: 1px solid rgba(white, 0);
    transition: all 0.2s;
    @include text-shadow(1px 1px 3px rgba(darken($orange, 30), 0.5));
  }
  a:hover {
    // border-bottom: 1px solid lighten($orange, 8);
    // border-top: 1px solid lighten($orange, 8);
  }

  #logo {
    width: 150px; height: 56px;
    background: url(/images/logo-eng.png) no-repeat;
    background-size: 100%;
    display: block;
    margin: 0 auto 25px auto;
  }

  h2 {
    border-top: 1px solid rgba(white, 0.3);    
    padding-top: 15px;
    margin: 0 0 10px 10px;
    font-size: 30px;
    color: white;
  }

  #steps {
    & > ul {
      counter-reset: step;
      list-style-type: none;
      margin-left: 0;

      & > li {
        &.active {        
          font-weight: bold;
        }
        &.active a:before {
          color: white;
          border-color: white;
        }
        &.active a, &:hover a {
          @include opacity(1);
        }

        & > a {
          font-size: 20px;   
          padding: 8px 10px;  
          display: block; 
          @include opacity(0.9);

          &:hover {
            &:before {
              color: white;
              border-color: white;
            }
          }

          &:before {
            transition: all 0.2s;
            content: counter(step);
            counter-increment: step;
            display: inline-block;
            @include border-radius(50%);
            border: 2px solid white;
            margin: 0 10px 0 0; position: relative; top: -1px;
            width: 25px; height: 25px;
            text-align: center; line-height: 21px;
            font-size: 16px;
            @include text-shadow(none);

            color: lighten($orange, 20);
            border-color: lighten($orange, 20);
          }
        }
        & > ul {
          margin: 0;
          padding: 0px 10px 20px 10px;
          display: none;
          list-style-type: none;

          & > li > a {        
            padding: 5px 10px 5px 36px;
            display: block;
            font-size: 17px;
            line-height: 100%;
            @include box-sizing(border-box);
            font-weight: normal;
            border-bottom: 2px solid rgba(white, 0);

            &:hover {
              //border-bottom: 2px solid lighten($orange, 20);
              text-decoration: underline;
            }
          }

          & > li.active a {
            font-weight: bold;
            &:before {
              //@include arrow-right(white);
              content: '➜';
              display: inline-block; margin-right: 4px;
              margin-left: -19px;
            }
          }
        }
        &.active ul { display: block; }
      }
    } // steps
  } // sidebar

  .language-selector {
    margin-top: 30px;
    margin-left: 12px;
    a {
      display: inline-block;
      border: 1px solid #fff;
      @include opacity(0.5);
      padding: 0 5px;

      &.active {
        @include opacity(0.8);        
      }

      &:hover {
        @include opacity(1);
      }
    }
    a:first-child {

    }
    a:nth-child(2) {

    }
  }

} // steps


body.scrolled #content header {
  @include box-shadow(0px 0px 15px rgba(black, 0.2));
}

#content {
  display: block;
  margin-left: 300px;
  padding: 25px 50px;
  z-index: 1;

  section {
    padding-top: 100px;

    header {
      margin: 0;
      font-size: 40px;
      font-weight: normal;
      position: fixed; top: 0;
      background: rgba(white, 0.95);
      left: 300px; right: 0;
      padding: 25px 50px 20px 50px;
      @include transition(box-shadow 0.2s);

      h1 {
        float: left;
      }
      a {
        float: right; margin-right: 45px; margin-top: 5px;
      }

      #os-selector {
        font-size: 16px;
        position: absolute; top: 45px; right: 50px;

        select {
          background-position-x: 90%;
          min-width: 130px;
        }
      }
    }
  }

  p, div, pre {    
    max-width: 800px;
  }
  img {
    max-width: 100%;
  }

  p {    
    a {
      text-decoration: underline;
      display: inline-block; padding: 0 4px;
      margin: 0 -1px;

      &:hover {
        background: #20B3C9;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  img {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 4px;
    @include box-shadow(1px 1px 3px rgba(black, 0.1));

    .full-width {
      max-width: 100%;
    }
  }
} // tools

#lightbox img {
  max-width: inherit;
}
.screenshot {
  background: transparent !important;
  padding: 0 !important;
}