.mailing-list {
  text-align: center;
  height: 0;

  a {
    border-radius: 50px;
    padding: 15px 60px;
    font-size: 16px;
    bottom: 30px;
  }
}

section h3 {
  color: darkgray;
  font-size: 24px;
  margin-bottom: 20px ;
}

.content {
  margin-top: 60px;

  .home-paragraph {
    width: 90%;
  }

  p {
    text-align: justify;
    font-size: 14px;
  }

  .upcoming-events {

    .media-object-section.left-padding {
      padding-right: 0;
      padding-left: 1rem;
    }

    .thumbnail {
      box-shadow: none;
      border: none;

      img {
        width: 130px;
        border-radius: 200px;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: bold;
    }

    a.button {
      font-size: 12px;
      border-radius: 50px;
      padding: 5px 25px;
      margin-right: 5px;
    }

    p.registration-closed {
      display: block; // change to display: none; when opening the registration
      font-size: 12px;
      color: darkred;
    }
  }
}

.faq {
  background-color: #FAFAFA;
  padding-top: 40px;

  .thumbnail {
    box-shadow: none;

    img {
      width: 30px;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
  }
  
  p {
    font-size: 14px;
  }
}

.news {
  .thumbnail {
    border: none;
    box-shadow: none;
  }

  img {
    width: 30px;
  }

  a.media {
    color: darkred;
    font-size: 12px;
  }
}
