.background-image {
  height: 400px;
  width: auto;
  background-size: cover;
  background-position: 50%;
}

.background-image-home {
  background-image: url(../images/events/1/1.jpg);
}

.mailing-list {
  text-align: center;
  height: 0;

  a {
    border-radius: 50px;
    padding: 15px 60px;
    font-size: 16px;
    bottom: 30px;
  }
}

section {
  padding-bottom: 30px;

  h3 {
    color: darkgray;
    font-size: 24px;
    margin-bottom: 20px ;
  }
}

.content {
  margin-top: 60px;

  .home-paragraph {
    width: 90%;
  }

  p {
    text-align: justify;
    font-size: 14px;
  }

  .events {

    .media-object-section.left-padding {
      padding-right: 0;
      padding-left: 1rem;
    }

    .thumbnail {
      box-shadow: none;
      border: none;

      img {
        width: 130px;
        border-radius: 200px;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: bold;
    }

    a.button {
      font-size: 12px;
      border-radius: 50px;
      padding: 5px 25px;
      margin-right: 5px;
    }

    p.registration-closed {
      display: block; // change to display: none; when opening the registration
      font-size: 12px;
      color: darkred;
    }

    .past-events {
      &.oct13 { background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/images/site/workshop-102013.jpg'); }
      &.jan14 { background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/images/site/workshop-012014.jpg'); }
      &.feb14 { background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/images/site/workshop-022014.jpg'); }
      &.mar14 { background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/images/site/workshop-032014.jpg'); }
      &.mar15 { background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/images/site/workshop-032015.jpg'); }
      &.may15 { background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/images/site/workshop-052015.jpg'); }

      background-size: contain;
      background-position: center;
      width: 130px;
      height: 120px;
      border-radius: 200px;
      float: left;
      margin: 7px;
      
      div {
        line-height: 110px;
        text-align: center;
        font-size: 20px;
        color: white;
        font-weight: bold;
      }
    }
  }
}

.faq {
  background-color: #FAFAFA;
  padding-top: 40px;

  .thumbnail {
    box-shadow: none;

    img {
      width: 30px;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
  }
  
  p {
    font-size: 14px;
  }
}

.news {
  .thumbnail {
    border: none;
    box-shadow: none;
  }

  img {
    width: 30px;
  }

  a.media {
    color: darkred;
    font-size: 12px;
  }
}
