.language-selector {
  float: right;
}

.language-selector-image {
  vertical-align: middle;
  margin-right: 5px;
}

.navigation {
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
  background-color: #ffffff;
  display: inline-flex;
  width: 100%;
  z-index: 1;

  ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  ul {
    display: block;
    width: 700px;
    margin: 0 auto 0 auto;
    padding: 10px 10px;

    li {
      vertical-align: middle;
      display: inline-block;
      margin-right: 40px;
      line-height: 1;

      ul {
        border-radius: 9px;
        border-bottom: 2px solid white;
        background-color: white;
        margin-top: 9px;
        padding-top: 15px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        left: 0;
        width: 160px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;

        li {
          background: #fff;
          display: block;
          color: #fff;
          padding-top: 10px;
          margin-right: 0;
          height: 30px;
          width: 150px;

          a {
            font-size: 13px;
            color: #3C3C3E;
            text-decoration: none;
            text-transform: none;
          }

          a:hover {
            color: #DE390C;
            border-bottom: none;
            padding-bottom: 0;
          }
        }
      }

      .active {
        border-bottom: 3px solid #DE390C;
        padding-bottom: 17px;
      }

      a {
        font-size: 13px;
        color: #DE390C;
        text-decoration: none;
        text-transform: uppercase;
      }

      a:hover {
        border-bottom: 3px solid #DE390C;
        padding-bottom: 17px;
      }
    }
  }
}

.header-guides {
  border: 1px solid #DE390C;
  border-radius: 9px;
  padding: 7px;
  position: relative;
  font-size: 13px;
  color: #DE390C;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
}

img {
  vertical-align: baseline;
}

.content, .content-section {
  margin: auto;
}

.header-top {
  margin-top: 10px;
}

.link-arrow {
  margin-left: 20px;
}

.header-logo {
  width: 35px;
  height: 30px;
  margin-right: 11px;
  vertical-align: baseline;
}

.header-logo-text {
  display: inline-block;
}

.header-logo-text-main {
  font-size: 16px;
  font-weight: 900;
  color: #DE390C;
  text-transform: uppercase;
  line-height: 0.5;
}

.header-logo-text-sub {
  font-size: 14px;
  font-weight: 500;
  color: #DE390C;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.header-title {
  width: 100%;
  padding: 135px 0;
  margin: 0 auto;
  text-shadow: #555555 1px 1px;

  h1 {
    color: white;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
  }

  h2 {
    color: white;
    font-style: italic;
    font-size: 25px;
    text-align: center;
  }
}


/*************************footer******************/

footer {
  padding: 35px 0 17px;
  color: #cccccc;
  font-size: 13px;
  background: #3C3C3E;
}

.footer-center {
  width: 440px;
  margin: 0 auto 0 auto;
}

.footer-upper {
  font-size: 24px;
  margin-top: 20px;
  color: white;
  text-align: center;
}

.footer-upper-text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 13px;
  width: 130px;
  display: inline-block;
}

.footer-upper-subtext {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 13px;
  width: 130px;
  display: inline-block;
}

.footer-divider {
  border-color: #000000;
}

.footer-icons {
  text-align: center;
}

.footer-icon {
  margin: auto 4px;
}

.footer-icons-mail {
  height: 34px;
  margin-top: -13px;
}

.footer-slogan {
  margin-top: 20px;
  color: DE390C;
  font-size: 12px;
  text-align: center;
}
