.background-image {
  height: 500px;
  width: auto;
  background-size: cover;
  background-position: 50%;
}

.background-image-home {
  background-image: url(../images/events/1/1.jpg);
}

.navigation {
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
  background-color: #ffffff;
  display: inline-flex;
  width: 100%;
  z-index: 1;

  ul {
    display: block;
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 10px 10px;

    li {
      vertical-align: middle;
      display: inline-block;
      margin-right: 40px;

      .active {
        border-bottom: 3px solid #DE390C;
        padding-bottom: 17px;
      }

      a {
        font-size: 13px;
        color: #DE390C;
        text-decoration: none;
        text-transform: uppercase;
      }

      a:hover {
        border-bottom: 3px solid #DE390C;
        padding-bottom: 17px;
      }
    }
  }
}

img {
  vertical-align: baseline;
}

.content, .content-section {
  margin: 60px auto;
}

.header-top {
  margin: 10px;
}

.header-logo {
  width: 35px;
  height: 30px;
  margin-right: 11px;
}

.header-logo-text {
  display: inline-block;
}

.header-logo-text-main {
  font-size: 16px;
  font-weight: 900;
  color: #DE390C;
  text-transform: uppercase;
}

.header-logo-text-sub {
  font-size: 14px;
  font-weight: 500;
  color: #DE390C;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.header-title {
  width: 100%;
  padding: 135px 0;
  margin: 0 auto;
  text-shadow: #555555 1px 1px;

  h1 {
    color: white;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
  }

  h2 {
    color: white;
    font-style: italic;
    font-size: 25px;
    text-align: center;
  }
}

footer {
  padding: 35px 0 17px;
  color: #cccccc;
  font-size: 13px;
  background: #3C3C3E;
}

.footer-center {
  width: 440px;
  margin: 0 auto 0 auto;
}

.footer-upper {
  font-size: 24px;
  margin-top: 20px;
  color: white;
  text-align: center;
}

.footer-upper-text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 13px;
}

.footer-upper-subtext {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 13px;
}

.footer-divider {
  border-color: #000000;
}

.footer-icons {
  text-align: center;
}

.footer-icon {
  margin: auto 16px;
}

.footer-icons-mail {
  height: 34px;
  margin-top: -13px;
}

.footer-slogan {
  margin-top: 20px;
  color: DE390C;
  font-size: 12px;
  text-align: center;
}
