.team__organizers {
  background: #f2f0f0;
  padding: 30px 30px 60px;

  .organizer {
    margin: 0 10px;
    display: inline-block;
    position: relative;

    img {
      width: 200px;
      height: 200px;
      border-radius: 400px;
      object-fit: cover;
    }

    .team-member-name {
      border-radius: 400px;
      font-size: 24px;
      line-height: 200px;
    }

    &:hover .team-member-name {
      visibility: visible;
      opacity: 1;
    }
  }
}

.team-member-name {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(236, 88, 64, 0.5);
  color: #fff;
  text-align: center;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.i-want-to-help {
  text-align: center;
  height: 0;

  a.button {
    border-radius: 50px;
    padding: 15px 60px;
    font-size: 16px;
    bottom: 25px;
  }
}

.being-a-coach {
  font-size: 14px;
  text-align: center;
  margin-top: 30px;

  a {
    color: #de390c;
  }
}

.team__instructors {
  padding: 30px;

  .instructor {
    margin: 0 10px;
    display: inline-block;
    position: relative;

    .badge {
      width: 30px;
      height: 30px;
      font-size: 14px;
    }
    
    img {
      width: 130px;
      height: 130px;
      display: block;
      border-radius: 200px;
      object-fit: cover;
    }

    span {
      margin-top: -30px;
      margin-left: 5px;
    }

    .team-member-name {
      border-radius: 200px;
      font-size: 16px;
      line-height: 130px;
    }

    &:hover .team-member-name {
      visibility: visible;
      opacity: 1;
    }
  }
}

.team__sponsors {
  width: 100%;
  padding: 135px 0;
  margin: 0 auto;
  text-shadow: black 0px 0px 30px;

  background-size: cover;
  background-image: url(../images/site/team-cover.jpg);

  h1 {
    color: white;
    font-size: 40px;
    text-align: center;
  }

  .apply-now {
    text-align: center;
    padding-top: 20px;

    a {
      border-radius: 50px;
      padding: 15px 60px;
      font-size: 16px;
    }
  }

}
