---
guide: app
step: introduction
title: Introduction
---

%p.credit
  Originally created by Vesa Vänskä, 
  =link_to '@vesan', 'https://twitter.com/vesan', target: '_blank'

%p Hi! :-)
%p 
  Now that you've played with the 
  
  =link_to 'Try Ruby', 'http://tryruby.org/', target: '_blank'
  tutorial a little bit, prepared your laptop by 

  =link_to 'installing the relevant software', 'http://guides.railsgirls.com/install', target: '_blank'
  and watched an 

  =link_to 'introductory lecture', 'http://rotemharel.com/intro-to-web/', target: '_blank'
  about web development, you are more than ready to start coding! :-)

  We're going to build a Rails app from scratch together. Before we start, let's review the 
  =link_to 'final result', 'http://rails-girls-tlv.herokuapp.com/', target: '_blank'
  \.

%h3 The main page
%p
  The main page of our application is a table showing a list of ideas. Each idea has a picture, a name and a description. Each idea also has links named "Show", "Edit" and "Destroy". Below the table there's a "New Idea" link.
%p=screenshot 'app/intro/app_ideas_index.png'

%h3 The idea page
The "Show" link of each idea leads to the idea page. This is how it looks:
%p=screenshot 'app/intro/app_ideas_show.png'

%h3 The edit idea page
The "Edit" link of each idea leads to a page that allows you to edit the details of an existing idea.
%p=screenshot 'app/intro/app_ideas_edit.png'


%h3 The create idea page
We'll also need a page that will allow us to create a new idea and add it to the table in the main page.
%p=screenshot 'app/intro/app_ideas_new.png'

Hit the *continue* button and get to know the tools we'll use.