---
guide: app
step: introduction
title: הקדמה
---

%p.credit
  נוצר במקור ע"י Vesa Vänskä, 
  =link_to 'vesan@', 'https://twitter.com/vesan', target: '_blank'

%p אהלן! :-)
%p 
  עכשיו אחרי ששיחקת קצת עם 
  
  =link_to 'Try Ruby', 'http://tryruby.org/', target: '_blank'
  , הכנת את סביבת העבודה שלך באמצעות 

  =link_to 'התקנת התוכנה המתאימה', 'http://guides.railsgirls.com/install', target: '_blank'
  וצפית
  =link_to 'בהרצאת מבוא', 'http://rotemharel.com/intro-to-web/', target: '_blank'
  לפיתוח Web, את יותר ממוכנה להתחיל לקודד! :-)

  אנחנו הולכים לבנות אפליקציית Rails מאפס ביחד. לפני שנתחיל, בואי נסקור את התוצאה הסופית של מה שנבנה היום.

%h3 העמוד הראשי
%p
  העמוד הראשי של האפליקצייה שלנו הוא טבלה שמציגה רשימה של רעיונות. לכל רעיון יש תמונה, שם ותיאור. לכל רעיון יש גם לינקים בשם "Show", "Edit" ו- "Destroy". מתחת לטבלה יש לינק נוסף בשם "New Idea".
%p=screenshot 'app/intro/app_ideas_index.png'

%h3 עמוד הרעיון
הלינק "Show" של כל רעיון מוביל לעמוד הרעיון שלו. ככה זה נראה:
%p=screenshot 'app/intro/app_ideas_show.png'

%h3 עמוד עריכת רעיון
הלינק "Edit" של כל רעיון מוביל לעמוד שבו ניתן לערוך את פרטי הרעיון:
%p=screenshot 'app/intro/app_ideas_edit.png'


%h3 עמוד יצירת רעיון
נצטרך גם עמוד שיאפשר לנו ליצור רעיון חדש ולהוסיף אותו לטבלת הרעיונות בעמוד הראשי.
%p=screenshot 'app/intro/app_ideas_new.png'

לחצי על כפתור *המשיכי* כדי ללמוד על הכלים שנשתמש בהם היום.
