---
guide: app
step: routes
title: Finetune the routes
---

If you try to open [http://localhost:3000](http://localhost:3000) it still shows the "Welcome aboard" page. Let's make it redirect to the ideas page.

Open `config/routes.rb` and after the first line add

= preserve do
  - code('ruby') do
    root :to => redirect('/ideas')

%p Test the change by opening the root path (that is, http://localhost:3000/) in your browser.

**Coach:** Talk about routes, and include details on the order of routes and their relation to static files.
%br
**Rails 3 users:** You will need to delete the index.html from the `/public/` folder for this to work.