---
guide: app
step: routes
title: שינויים קטנים ב-Routes
---

אם תנסי לגלוש ל-
=link_to "http://localhost:3000", "http://localhost:3000", target: "_blank"
זה יציג לך את מסך ה-"Welcome aboard". בואי נגרום לו להציג את רשימת הרעיונות.

פתחי את הקובץ `config/routes.rb` ואחרי השורה הראשונה הוסיפי

= preserve do
  - code('ruby') do
    root :to => redirect('/ideas')

%p בדקי את השינוי ע"י גלישה לכתובת הראשית בדפדפן שלך.

**משתמשות Rails 3:** תצטרכו למחוק את הקובץ index.html מתיקיית ה-`/public` כדי שזה יעבוד.
%br

**מאמן/ת:** ספר/י קצת על routes ב-Rails.
