---
guide: app
step: static
title: הוסיפי עמודים סטטיים לאפליקציה שלך
---

בואי נוסיף עמודים סטטיים לאפליקציה שלנו שיכילו מידע על יוצרת האפליקציה - את!

= preserve do
  - code('sh') do
    rails generate controller pages info

הפקודה הזאת תיצור תיקיה חדשה תחת `/views` שנקראת `/pages` ומתחת לזה קובץ שנקרא `info.html.erb` שהוא יהיה עמוד המידע שלך.

זה מוסיף גם route פשוט חדש ל-routes.rb.


= preserve do
  - code('ruby') do
    get "pages/info"

כעת את יכולה לפתוח את הקובץ `/views/pages/info.html.erb` ולהוסיף מידע אודותיך ב-HTML ואז לגלוש לכתובת 
=link_to "http://localhost:3000/pages/info", "http://localhost:3000/pages/info", target: "_blank"
בדפדפן שלך כדי לראות את עמוד המידע החדש שלך.

<br/><br/>
%h4 תרגיל
כרגע אין דרך להגיע לדף החדש שיצרנו מתוך האפליקציה. הוסיפי בתפריט העליון כפתור שיוביל אליו.
