---
guide: getting-started
step: 
title: Getting started
---

%ul
  %li= link_to 'TryRuby', 'http://tryruby.org'
  %li= link_to 'Install', 'http://guides.railsgirls.com/install'
  %li= link_to 'App guide', guide_url('app')