<div class="background-image background-image-after">
  <div class="header-title">
    <h1>סיימת את הסדנא?</h1>
    <h2>מעולה! כעת את יכולה להמשיך ללמוד עוד...</h2>
  </div>
</div>

<section class="faq">

  <div class="row">
    <h3>אז מה אפשר לעשות אחרי סיום הסדנא שלנו?</h3>
  </div>

  <div class="row">

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="http://guides.railsgirls.com/how-to-continue-with-programming/" target="_blank">Rails Girls Continue Program</a></h4>
        <p class="answer">The official "How to continue programming" guide by Rails Girls</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="http://railsgirls.co.il/en/guides/app/introduction.html" target="_blank">Rails Girls TLV Guides</a></h4>
        <p class="answer">Continue the rest of our guides from the website - and make your website even greater!</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="https://www.facebook.com/groups/womenwhocode/" target="_blank">She codes</a> </h4>
        <p class="answer">She codes is a cool project that lets women code together</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="https://www.coursera.org/course/webapplications" target="_blank">Coursera</a></h4>
        <p class="answer">Free online course for web programming</p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book" target="_blank">Rails Tutorial</a></h4>
        <p class="answer">Free online tutorial, a bit long but really teaches you everything you need to know
          and in the end you build a cool website</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="https://www.codeschool.com/paths/ruby" target="_blank">Code School</a></h4>
        <p class="answer">Very good courses on many topics. Some of them are free and some not. You can try the free
          <a href="http://railsforzombies.org/" target="_blank">Rails for Zombies</a> course.</p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="http://www.codesigner.co.il/" target="_blank">Codesigner</a></h4>
        <p class="answer">An Israeli website - targeted mostly at designers - that teaches web development in various programming languages.</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="http://hackademy.co.il/" target="_blank">500Tech Course</a></h4>
        <p class="answer">Ruby on Rails course from 500Tech company.</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="https://dash.generalassemb.ly/" target="_blank">General Assemb</a></h4>
        <p class="answer">Website that teaches you Javascript, CSS and HTML while building projects</p>
      </div>
    </div>

  </div>
</section>
