<div class="background-image background-image-after">
  <div class="header-title">
    <h1>סיימת את הסדנה?</h1>
    <h2>מעולה! עכשיו את יכולה להמשיך ללמוד עוד...</h2>
  </div>
</div>

<section class="main-content faq">

  <div class="row">
    <h3>אז מה אפשר לעשות אחרי סיום הסדנה שלנו?</h3>
  </div>

  <div class="row">

    <div class="column large-6 media-object">
      <div class="media-object-section left-padding">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="http://guides.railsgirls.com/how-to-continue-with-programming/" target="_blank">מדריך ריילס גירלס לאחרי הסדנה</a></h4>
        <p class="answer">מדריך "איך להמשיך לתכנת" של Rails Girls </p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section left-padding">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="http://railsgirls.co.il/en/guides/app/introduction.html" target="_blank">Rails Girls TLV Guides</a></h4>
        <p class="answer">מדריך האפליקציה שבנינו בסדנה - באנגלית ובעברית. בסוף המדריך ישנם קישורים למדריכי המשך שאתן מוזמנות לעשות.</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section left-padding">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="https://www.facebook.com/groups/womenwhocode/" target="_blank">She codes</a> </h4>
        <p class="answer">מומלץ בחום להגיע למפגשים של She Codes; שם תוכלו להמשיך לתכנת באוירה נשית ומגניבה. יש להם מפגשים שבועיים בכל הארץ - אפשר להתעדכן בדף הפייסבוק.</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section left-padding">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="https://www.coursera.org/course/webapplications" target="_blank">Coursera</a></h4>
        <p class="answer">קורס און-ליין לתכנות ווב באתר Coursera (הקורס חינם, אבל אם תשלמו כסף תקבלו גם תעודה רשמית מאוניברסיטת ניו מקסיקו על סיום הקורס)</p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="column large-6 media-object">
      <div class="media-object-section left-padding">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="https://www.railstutorial.org/bookH" target="_blank">Rails Tutorial</a></h4>
        <p class="answer">טוטוריאל אונליין בחינם - ארוך (אפשר לפרוש על פני תקופה ארוכה), אבל מלמד כל מה שצריך לדעת ובונה אפליקציה מגניבה</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section left-padding">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="https://www.codeschool.com/paths/ruby" target="_blank">Code School</a></h4>
        <p class="answer">קורסים מושקעים ב-ruby, rails ועוד (חלקם בחינם וחלקם עולים כסף)</p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="column large-6 media-object">
      <div class="media-object-section left-padding">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="http://www.codesigner.co.il/" target="_blank">Codesigner</a></h4>
        <p class="answer">אתר ישראלי (מוכוון למעצבים) שמלמד בניית אתרים בשפות שונות.</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section left-padding">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="http://hackademy.co.il/" target="_blank">500Tech Course</a></h4>
        <p class="answer">קורס רובי און ריילס בתשלום המועבר על ידי חברת 500Tech.</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section left-padding">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question"><a href="https://dash.generalassemb.ly/" target="_blank">General Assemb</a></h4>
        <p class="answer">אתר חינמי שמלמד HTML, CSS, Javascript דרך בניית פרוייקטים בדפדפן</p>
      </div>
    </div>

  </div>
</section>
