%h1 צרי קשר

%p
  הרשמי לקבלת מידע על הסדנאות הבאות שיפתחו
  = link_to 'ברשימת התפוצה', 'http://goo.gl/forms/udNeGu0Ttp', target: '_blank'

%p נשמח לשמוע ממך :)
= link_to 'contact@railsgirls.co.il', 'mailto: contact@railsgirls.co.il'
%br
= link_to 'facebook', 'https://www.facebook.com/railsgirls.telaviv.yaffo', target: '_blank'