%h1 Contact us

%p We'd love to hear from you :)
= link_to 'contact@railsgirls.co.il', 'mailto: contact@railsgirls.co.il'
%br
= link_to 'facebook', 'https://www.facebook.com/railsgirls.telaviv.yaffo', target: '_blank'