<div class="background-image background-image-events">
  <div class="header-title">
    <h1>OUR EVENTS</h1>
  </div>
</div>

<section class="main-content">
  <div class="row">
    <div class="column large-6">
      <h3>UPCOMING EVENTS</h3>
      <div class="events media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="/images/biking-girl.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <h4>14-15/4/2016</h4>
          <p>Electra tower, floor 13<br/>Yigal Alon 98, Tel Aviv</p>
          <div>
            <a class="button alert hollow" href="http://railsgirls.com/tel-aviv-201604" target="_blank">DETAILS</a>
            <a class="button alert signup" href="http://goo.gl/forms/pYXUxjTGZ9" target="_blank" disabled>SIGN UP</a>
          </div>
          <p class="registration-closed">Registration is now closed.</p>
        </div>
      </div>

      <h3>PAST EVENTS</h3>
      <div class="events">
        <div class="past-events float-left oct13"><div>10/2013</div></div>
      </div>
      <div class="events">
        <a class="past-events float-left jan14" href="http://railsgirls.com/tel-aviv" target="_blank"><div>01/2014</div></a>
      </div>
      <div class="events">
        <a class="past-events float-left feb14" href="http://railsgirls.com/tel-aviv-20140211" target="_blank"><div>02/2014</div></a>
      </div>
      <div class="events">
        <a class="past-events float-left mar14" href="http://railsgirls.com/tel-aviv-20140211" target="_blank"><div>03/2014</div></a>
      </div>
      <div class="events">
        <a class="past-events float-left mar15" href="http://railsgirls.com/tel-aviv-20150327" target="_blank"><div>03/2015</div></a>
      </div>
      <div class="events">
        <a class="past-events float-left may15" href="http://railsgirls.com/tel-aviv-20150508" target="_blank"><div>05/2015</div></a>
      </div>
      <div class="events">
        <a class="past-events float-left feb16" href="http://railsgirls.com/tel-aviv-201602" target="_blank"><div>02/2016</div></a>
      </div>
      <div class="events">
        <a class="past-events float-left mar16" href="http://railsgirls.com/tel-aviv-201603" target="_blank"><div>03/2016</div></a>
      </div>
    </div>

    <div class="column large-6">
      <h3>FROM THE NEWS</h3>
      <div class="news media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="/images/site/globes.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <p>"The most wonderful thing about this course - it proves that anyone can do it."</p>
          <a class="media" href="http://www.globes.co.il/news/article.aspx?did=1001111631" target="_blank">Globes, 22/03/2016</a>
        </div>
      </div>

      <div class="news media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="/images/site/geektime.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <p>"Time after time Rails Girls workshops are filled with women who are interested into diving deep into the challenging world of web development."</p>
          <a class="media" href="http://www.geektime.co.il/rails-girls-will-program-your-life/" target="_blank">Geektime, 24/04/2015</a>
        </div>
      </div>

      <div class="news media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="/images/site/globes.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <p>"You leave the workshop knowing that this is just the beginning. It sure gave me the motivation, even if it's not simple."</p>
          <a class="media" href="http://www.globes.co.il/news/article.aspx?did=1001026461" target="_blank">Globes, 07/04/2015</a>
        </div>
      </div>

      <div class="news media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="/images/site/saloona.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <p>"Every time I changed something in the code and it appeared on the screen I got excited like a little girl..."</p>
          <a class="media" href="http://saloona.co.il/anatshapiraspace/?p=1780" target="_blank">Saloona, 20/02/2014</a>
        </div>
      </div>
    </div>
  </div>
</section>

