<div class="background-image background-image-events">
  <div class="header-title">
    <h1>הסדנאות שלנו</h1>
  </div>
</div>

<section class="content">
  <div class="row">
    <div class="column large-6">
      <h3>כתבו עלינו</h3>
      <div class="news media-object">
        <div class="media-object-section left-padding">
          <div class="thumbnail">
            <img src="/images/site/geektime.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <p>סדנת ריילס גירלס מצליחה להתמלא כל פעם מחדש בנשים שמעוניינות לטבול במים העמוקים של עולם התכנות המאתגר</p>
          <a class="media" href="http://www.geektime.co.il/rails-girls-will-program-your-life/" target="_blank">גיקטיים, 24/04/2015</a>
        </div>
      </div>

      <div class="news media-object">
        <div class="media-object-section left-padding">
          <div class="thumbnail">
            <img src="/images/site/globes.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <p>"מהסדנה יוצאים בהנחה שזו רק הפתיחה. זה בטוח עשה לי חשק, גם אם זה לא יהיה פשוט."</p>
          <a class="media" href="http://www.globes.co.il/news/article.aspx?did=1001026461" target="_blank">גלובס, 07/04/2015</a>
        </div>
      </div>

      <div class="news media-object">
        <div class="media-object-section left-padding">
          <div class="thumbnail">
            <img src="/images/site/saloona.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <p>״בכל פעם שבה שיניתי משהו בקוד והתוצאה בדף השתנתה לפי הוראותיי נפעמתי כמו ילדה קטנה…״</p>
          <a class="media" href="http://saloona.co.il/anatshapiraspace/?p=1780" target="_blank">סלונה, 20/02/2014</a>
        </div>
      </div>
    </div>

    <div class="column large-6">
      <h3>האירוע הקרוב</h3>
      <div class="events media-object">
        <div class="media-object-section left-padding">
          <div class="thumbnail">
            <img src="/images/biking-girl.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <h4>4-5/2/2016</h4>
          <p>מגדל אלקטרה, קומה 13<br/>יגאל אלון 98, תל אביב</p>
          <div>
            <a class="button alert hollow" href="http://railsgirls.com/tel-aviv-201602" target="_blank">פרטים</a>
            <a class="button alert signup" href="www.google.com" disabled>הירשמי לאירוע</a>
          </div>
          <p class="registration-closed">ההרשמה סגורה.</p>
        </div>
      </div>

      <h3>אירועים קודמים</h3>
      <div class="events">
        <div class="past-events float-right oct13"><div>10/2013</div></div>
      </div>
      <div class="events">
        <a class="past-events float-right jan14" href="http://railsgirls.com/tel-aviv" target="_blank"><div>01/2014</div></a>
      </div>
      <div class="events">
        <a class="past-events float-right feb14" href="http://railsgirls.com/tel-aviv-20140211" target="_blank"><div>02/2014</div></a>
      </div>
      <div class="events">
        <a class="past-events float-right mar14" href="http://railsgirls.com/tel-aviv-20140211" target="_blank"><div>03/2014</div></a>
      </div>
      <div class="events">
        <a class="past-events float-right mar15" href="http://railsgirls.com/tel-aviv-20150327" target="_blank"><div>03/2015</div></a>
      </div>
      <div class="events">
        <a class="past-events float-right may15" href="http://railsgirls.com/tel-aviv-20150508" target="_blank"><div>05/2015</div></a>
      </div>
    </div>

  </div>
</section>

