<div class="background-image background-image-home">
  <div class="header-title">
    <h1><%= t('layout.main-header') %></h1>
    <h2><%= t('layout.sub-header') %></h2>
  </div>
</div>

<div class="mailing-list">
  <a class="button alert" href="http://goo.gl/forms/JFI6tc6e3F" target="_blank">הצטרפי לרשימת התפוצה שלנו</a>
</div>

<section class="home">
  <div class="row">
    <div class="column large-6">
      <h3>האירועים הקרובים</h3>
      <div class="upcoming-events media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="images/biking-girl.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <h4>4-5/2/2016</h4>
          <p>מגדל אלקטרה, קומה 13<br/>יגאל אלון 98, תל אביב</p>
          <div>
            <a class="button alert hollow" href="http://railsgirls.com/tel-aviv-201602" target="_blank">פרטים</a>
            <a class="button alert signup" href="www.google.com" disabled>הירשמי לאירוע</a>
          </div>
          <p class="registration-closed">ההרשמה סגורה.</p>
        </div>
      </div>

      <div class="upcoming-events media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="images/biking-girl.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <h4>17-18/3/2016</h4>
          <p>מגדל אלקטרה, קומה 13<br/>יגאל אלון 98, תל אביב</p>
          <div>
            <a class="button alert hollow" href="http://railsgirls.com/tel-aviv-201603" target="_blank">פרטים</a>
            <a class="button alert signup" href="www.google.com" disabled>הירשמי לאירוע</a>
          </div>
          <p class="registration-closed">ההרשמה סגורה.</p>
        </div>
      </div>
    </div>

    <div class="column large-6">
      <div class="home-paragraph">
        <h3>מה זה ריילס גירלס?</h3>
        <p><strong>ריילס גירלס</strong> נולדה כדי לתת לכן את הכלים לבנות את הרעיונות שלכן!
          אם גם היום את עוד לא בטוחה מה את רוצה לעשות כשתהיי גדולה, ואת אוהבת אתגרים ורוצה לטעום מעולם התכנות בסביבה נעימה ותומכת - הסדנאות שלנו הן בשבילך.
          בסדנה שלנו, שאורכת יום וחצי, תצוותי בקבוצה קטנה עם מדריכ/ה ויחד תבנו אפליקציית web שלב אחר שלב, בשפת התכנות <strong>רובי און ריילס</strong>.
          <br/>אין צורך בידע קודם בתכנות, וההשתתפות היא לגמרי בחינם!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="faq">

  <div class="row">
    <h3>רוצה לדעת עוד?</h3>
  </div>

  <div class="row">

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question">הסדנה עולה כסף?</h4>
        <p class="answer">הסדנאות הן חינמיות לחלוטין, והן מוקדשות לכן באהבה על-ידי הספונסרים והמדריכים המדהימים שלנו.</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question">למי מיועדת הסדנה?</h4>
        <p class="answer">הסדנה מיועדת לנשים בכל הגילאים* ללא ניסיון קודם בתכנות, שמעוניינות לקבל טעימה מעולם של כתיבת קוד ופיתוח אפליקציות.<br/>* מדי פעם נפתחות סדנאות המיועדות לקהל יעד ספציפי יותר, למשל - תלמידות תיכון. </p>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question">מה אני צריכה להביא?</h4>
        <p class="answer">תצטרכי מחשב נייד, רמה טובה באנגלית והרבה סקרנות.<br/>אם אין ברשותך מחשב נייד אנא ציינו זאת בטופס ההרשמה, ונשתדל לספק לך מחשב חלופי.</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question">נרשמתי לסדנה הקרובה. האם זה אוטומטית אומר שאני בפנים?</h4>
        <p class="answer">לצערנו לא. בדרך כלל יש יותר נרשמות ממקומות פנויים, ולכן עם סגירת ההרשמה תקבלי מייל קבלה/דחיה. לא התקבלת הפעם? הירשמי שוב כשתפתח הסדנה הבאה!</p>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="column large-6 media-object">
      <div class="media-object-section">
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question">האם גם גברים יכולים להשתתף?</h4>
        <p class="answer">כן, על בסיס מקום פנוי.</p>
      </div>
    </div>
  </div>
</section>
