<div class="background-image background-image-home">
  <div class="header-title">
    <h1><%= t('layout.main-header') %></h1>
    <h2><%= t('layout.sub-header') %></h2>
  </div>
</div>

<div class="mailing-list">
  <a class="button alert" href="http://goo.gl/forms/JFI6tc6e3F" target="_blank">JOIN OUR MAILING LIST</a>
</div>

<section class="main-content">
  <div class="row">
    <div class="column large-6">
      <div class="home-paragraph">
        <h3>WHAT IS RAILS GIRLS?</h3>
        <p><strong>Rails Girls</strong> was founded to help you acquire the tools to build your ideas!<p>
        <p>If you still aren't sure what you want to be when you grow up, and you like to be challenged and get your hands dirty - our workshops are for you.
          In our 1.5 days-long workshop, you'll be grouped with another 1-2 woman and a coach, and build a web app step by step using the <strong>Ruby on Rails</strong> programming language.
          <br/>No previous programming knowledge is required, and it's completely free!
        </p>
      </div>
    </div>

    <div class="column large-6">
      <h3>UPCOMING EVENTS</h3>
      <div class="events media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="/images/biking-girl.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <h4>14-15/4/2016</h4>
          <p>Electra tower, floor 13<br/>Yigal Alon 98, Tel Aviv</p>
          <div>
            <a class="button alert hollow" href="http://railsgirls.com/tel-aviv-201604" target="_blank">DETAILS</a>
            <a class="button alert signup" href="http://goo.gl/forms/pYXUxjTGZ9" target="_blank">SIGN UP</a>
          </div>
          <p class="registration-closed">Registration is open!</p>
        </div>
      </div>

      <div class="events media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="/images/biking-girl.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <h4>17-18/3/2016</h4>
          <p>Electra tower, floor 13<br/>Yigal Alon 98, Tel Aviv</p>
          <div>
            <a class="button alert hollow" href="http://railsgirls.com/tel-aviv-201603" target="_blank">DETAILS</a>
            <a class="button alert signup" href="www.google.com" disabled>SIGN UP</a>
          </div>
          <p class="registration-closed">Registration is now closed.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faq">

  <div class="row">
    <h3>WANT TO KNOW MORE?</h3>
  </div>

  <div class="row">

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question">Who is it for?</h4>
        <p class="answer">The workshop is aimed at women of all ages* with no programming experience, that are interested in getting a taste of the web development world.</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question">Does it cost money?</h4>
        <p class="answer">The workshop is completely free, and is dedicated to you by our wonderful sponsors and guides.</p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question">I signed up for the event, am I automatically attending?</h4>
        <p class="answer">No, unfortunately not. Since we have limited space you will get a confirmation/rejection email after the registration closes. Didn’t get in this time? Apply again when a new workshop opens!</p>
      </div>
    </div>

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question">What should I bring?</h4>
        <p class="answer">You need a laptop and a lot of curiosity.<br/>
          If you don’t have a laptop, please note it in the application form and we will try to find one for you to use during the event.</p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="column large-6 media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/site/logo.png"/>
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="question">Can men attend?</h4>
        <p class="answer">Yes, if we have available spots.</p>
      </div>
    </div>

  </div>
</section>
