<section class="home">
  <div class="row">
    <div class="column large-6">
      <div class="home-paragraph">
        <h3>WHAT IS RAILS GIRLS?</h3>
        <p><strong>Rails Girls</strong> was founded to help you acquire the tools to build your ideas!<p>
        <p>If you still aren't sure what you want to be when you grow up, and you like to be challenged and get your hands dirty - our workshops are for you.
          In our 1.5 days-long workshop, you'll be grouped with another 1-2 woman and a coach, and build a web app step by step using the <strong>Ruby on Rails</strong> programming language.
          <br/>No previous programming knowledge is required, and it's completely free!
        </p>
      </div>
    </div>

    <div class="column large-6">
      <h3>UPCOMING EVENTS</h3>
      <div class="upcoming-events media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="images/biking-girl.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <h4 class="event-date">4-5/2/2016</h4>
          <p class="event-address">Elektra tower, floor 13<br/>Yigal Alon 98, Tel Aviv</p>
          <div>
            <a class="button alert hollow" href="www.google.com">DETAILS</a>
            <a class="button alert" href="www.google.com">SIGN UP</a>
          </div>
        </div>
      </div>

      <div class="upcoming-events media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="images/biking-girl.png"/>
          </div>
        </div>
        <div class="media-object-section">
          <h4 class="event-date">17-18/3/2016</h4>
          <p class="event-address">Elektra tower, floor 13<br/>Yigal Alon 98, Tel Aviv</p>
          <div>
            <a class="button alert hollow" href="www.google.com">DETAILS</a>
            <a class="button alert" href="www.google.com">SIGN UP</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
