.welcome
  %p
    %strong Rails Girls
    נוצרה במטרה לתת לבנות ונשים את הכלים ליצור את הרעיונות שלהן.
  %p 
    %strong Rails Girls תל-אביב-יפו
    היא הבסיס לשלוחה הישראלית של 
    = link_to 'הארגון העולמי', 'http://railsgirls.com', target: "_blank"

%p
  האתר נמצא בהקמה.
