.welcome
  %p
    Rails Girls
    aims at giving girls and women the tools for building their own ideas.
  %p 
    %strong Rails Girls Tel-Aviv–Yaffo is the base of the Israeli chapters of the 
    = link_to 'worldwide organization', 'http://railsgirls.com', target: "_blank"

