<section class="team__organizers">
  <h3>ORGANIZERS</h3>
  Organizer thumbnails here


</section>

<div class="i-want-to-help">
  <a class="button alert" href="" target="_blank">I WANT TO HELP</a>
</div>


<section class="team__instructors">
  <div class="row">
    <h3>HALL OF FAME INSTRUCTORS</h3>
  </div>
  <div class="row">
    instuctor thumbnails here
  </div>
  <div class="become-an-instructor">
    <a class="button hollow alert" href="" target="_blank">HOW TO BECOME AN INSTRUCTOR</a>
  </div>
</section>

<section class="team__sponsers">
  <h1>Spread the revolution and help us</h1>
  <h1>we are looking for sponsers</h1>
  <div class="apply-now">
    <a class="button alert" href="" target="_blank">APPLY NOW</a>
  </div>
</section>