<section class="team__sponsors">
  <h1>Help us change the world!</h1>
  <h1>We are looking for sponsors</h1>
  <div class="apply-now">
    <a class="button alert" href="mailto:contact@railsgirls.co.il" target="_blank">JOIN US AS A CO-SPONSOR</a>
  </div>
</section>

<section class="team__organizers">
  <div class="row">
    <h3>ORGANIZERS</h3>

    <div class="organizer">
      <img src="../images/team/inbal_gilai.jpg" />
      <div class="organizer-name">Inbal Gilai</div>
    </div>
    <div class="organizer">
      <img src="../images/team/ilona_shub.jpg" />
      <div class="organizer-name">Ilona Shub</div>
    </div>
    <div class="organizer">
      <img src="../images/team/michal_tirosh.jpg" />
      <div class="organizer-name">Michal Tirosh</div>
    </div>
  </div>
</section>

<div class="i-want-to-help">
  <a class="button alert" href="http://goo.gl/forms/OXzHLmraUO" target="_blank">I WANT TO COACH</a>
</div>
<div class="being-a-coach">
  <a href="http://guides.railsgirls.com/coach" target="_blank">What does it mean?</a>
</div>


<section class="team__instructors">
  <div class="row">
    <h3>COACHES - HALL OF FAME</h3>
  </div>
  <div class="row">
    <div class="instructor">
      <img src="../images/team/he.png" />
      <span class="alert badge">7</span>
    </div>

    <div class="instructor">
      <img src="../images/team/she.png" />
      <span class="alert badge">13</span>
    </div>

  </div>
</section>

