---
guide: app
step: design
part: bootstrap
title: הוסיפי את ספריית Bootstrap
---


**מאמן/ת:** דברי על הקשר בין HTML ו-Rails. אלו חלקים מה-views הם HTML ואלו הם ERB? מה זה MVC ואיך זה מתקשר לעניינינו? (Models ו-controllers אחראיים לייצור תצוגות ה-HTML.)

%p האפליקציה עדיין לא נראית משהו. בואי נטפל בזה. נוסיף את הפרוייקט Twitter Bootstrap כדי לתת לנו סטייל נחמד יותר לאתר בקלות רבה.

פתחי את הקובץ `app/views/layouts/application.html.erb` בעורך הטקסט שלך, ומעל השורה

= preserve do
  - code("erb") do
    ='<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>'
הוסיפי
= preserve do 
  - code("erb") do
    %link{href: "http://railsgirls.co.il/bootstrap/css/bootstrap.css", rel: "stylesheet"}/
    %link{href: "http://railsgirls.co.il/bootstrap/css/bootstrap-theme.css", rel: "stylesheet"}/
    והחליפי

= preserve do
  - code("erb") do
    \<%= yield %>
עם
= preserve do
  - code("erb") do
    .container
      \<%= yield %>


