---
guide: app
step: design
part: bootstrap
title: Add Bootstrap
---

**Coach:** Talk about the relationship between HTML and Rails. What part of views is HTML and what is Embedded Ruby (ERB)? What is MVC and how does this relate to it? (Models and controllers are responsible for generating the HTML views.)

%p The app doesn't look very nice yet. Let's do something about that. We'll use the Twitter Bootstrap project to give us nicer styling really easily.

Open the `Gemfile` in your text editor and below the line

= preserve do
  - code("ruby") do
    source 'https://rubygems.org'

add

= preserve do
  - code("ruby") do
    gem 'bootstrap-sass', '~> 3.2.0'


And then run in your terminal:
= preserve do
  - code("sh") do
    bundle install

%br

Next, rename `app/assets/stylesheets/application.css` to `app/assets/stylesheets/application.css.sass`.

%br

Then we can import the Bootstrap assets in your newly-renamed `application.css.sass` file.
%p In the end of the file `application.css.sass` add those lines:

= preserve do
  - code("ruby") do
    @import "bootstrap-sprockets"
    @import "bootstrap"

%br

Finally, open the file `app/assets/javascripts/application.js` in your text editor, and under the line:

%br
%br

`//= require jquery`

%p add

`//= require bootstrap-sprockets`