---
guide: app
step: design
part: css
title: Refine the design with CSS
---


Now let's also change the styling of the ideas table. Open `app/assets/stylesheets/application.css.scss` and at the bottom add

= preserve do
  - code("css") do
    body { padding-top: 100px; }
    footer { margin-top: 100px; }
    table, td, th { vertical-align: middle; border: none; }
    th { border-bottom: 1px solid #DDD; }
    td { padding: 8px; }

%p Now make sure you saved your files and refresh the browser to see what was changed. You can also change the HTML &amp; CSS further.

**Coach:** Talk a little bit about CSS and layouts, and review the code we added in step 5.
