---
guide: app
step: design
part: nav_and_footer
title: הוסיפי תפריט ניווט ו-footer
---

בואי נוסיף גם בר ניווט ו-footer ל-layout. באותו הקובץ, תחת `<body>` הוסיפי


= preserve do 
  - code("erb") do
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{:href => "/"} The Idea app
        %ul.nav.navbar-nav
          %li.active
            %a{:href => "/ideas"} Ideas

ולפני `</body>` הוסיפי

= preserve do
  - code("erb") do
    %footer
      .container
        Rails Girls 2016

שימי לב להבדל בין `<body>` ל-`</body>`!        
