---
guide: design
step: introduction
title: Design your Application
---

%p
	Once you've finished the application guide and the image resizing guide, the main page of your application is supposed to look approximately like this: 

%p=screenshot 'design/undesigned_index.png'

%p
	This guide will teach you how to use the Bootstrap library and the free fonts of Google Fonts to get to this design:

%p=screenshot 'design/final_index.png'