---
guide: design
step: introduction
title: עצבי את האפליקצייה
---

%p
	אחרי שסיימת את מדריך האפליקצייה ואת מדריך הקטנת התמונות, העמוד הראשי של האפליקצייה שלך אמור להראות בערך כך:

%p=screenshot 'design/undesigned_index.png'

%p
	במדריך הזה תלמדי כיצד להשתמש בספריית Bootstrap ובפונטים החופשיים של Google Fonts כדי להגיע לעיצוב שנראה בערך כך:

%p=screenshot 'design/final_index.png'