---
step: design
part: nav_and_footer
title: Add a nav bar and a footer
---


Let's also add a navigation bar and footer to the layout. In the same file, under `<body>` add

<% code("erb") do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">The Idea app</a>
      <ul class="nav">
        <li class="active"><a href="/ideas">Ideas</a></li>
      </ul>
    </div>
  </div>
</div>
<% end %>

and before `</body>` add

<% code("erb") do %>
<footer>
  <div class="container">
    Rails Girls 2013
  </div>
</footer>
<% end %>