---
step: tools
part: terminal
title: Terminal
---

.os-specific
  .nix.osx
    %p The terminal is where you start the Rails server and run the commands.
    =screenshot 'app/tools/terminal.png'
  .windows
    %p The terminal is known as Command Prompt on Windows. This is where you start the Rails server and run the commands.
    =screenshot 'app/tools/command-windows.png'