---
guide: app
step: tools
part: text-editor
title: Text editor
---

<a href="https://atom.io/" target="_blank">Atom</a>, <a href="http://www.sublimetext.com" target="_blank">Sublime Text</a>, <a href="http://www.activestate.com/komodo-edit" target="_blank">Komodo Edit</a>, Vim, Emacs, and Gedit are examples of text editors your can use for writing code and editing files.

In the installation guide we instructed you to install Atom because we just love it! In Atom (see screenshot below) you can see the list of files on the left, and on the right the current file you're working on.




<%=screenshot 'app/tools/text-editor.png' %>
