---
guide: app
step: tools
part: web-browser
title: דפדפן
---

%p
  הדפדפן הוא תוכנה שבה משתמשים כדי לגלוש לאתרים באינטרנט. את תשתמשי בו כדי לצפות באפליקצייה שלך. קיימים היום מספר דפדפנים שניתן להשתמש בהם, בוודאי שמעת על חלקם, למשל: Firefox, Safari, Chrome ו-Internet Explorer.

%p כך למשל נראה Chrome:

=screenshot 'app/tools/chrome.png'
