---
guide: app
step: tools
part: web-browser
title: Web browser
---

%p
  The web browser is the software you use to browse the web. You'll use it to view your application. There are several browsers you can use, and you've probably heard of some of them, for example: Firefox, Safari, Chrome and Internet Explorer.

%p This is what Chrome looks like:

=screenshot 'app/tools/chrome.png'
