---
guide: app
step: create-scaffold
part: review
title: סקרי את הקוד
---

פקודת ה-scaffold ייצרה קבצי קוד רבים בתיקיית הפרוייקט שלך, והם אלו האחראיים לייצירת כל העמודים שראינו. בואי נסקור חלק מהם.

%table{style: "max-width: 800px;"}
  %thead
    %tr
      %th{style: "width: 30%;"} שם התיקייה/קובץ
      %th תפקיד
  %tbody
    %tr
      %td
        %code db/migrate/XXXXX_create_ideas.rb
      %td
        קובץ זה נקרא "קובץ מיגרציה". בקובץ זה ישנן הוראות בשפת
        Ruby
        שמגדירות לאפליקציית ה-Rails שלך כיצד לשנות את בסיס הנתונים כך שהוא ידע להכיל בתוכו את הרעיונות שאת תצרי.
    %tr
      %td
        %code app/models/idea.rb
      %td
        מודל הרעיון.
    %tr
      %td
        %code app/controllers/ideas_controller.rb
      %td
        controller הרעיון. מכיל את הלוגיקה שמאחורי כל הפעולות שראינו: שליפת רשימת הרעיונות מבסיס הנתונים בשביל הצגת טבלת הרעיונות, שליפת רעיון מבסיס הנתונים בשביל הצגתו בעמוד הרעיון, יצירת רעיון חדש, עריכת רעיון, מחיקת רעיון.
    %tr
      %td
        תיקיית
        %code app/views/ideas
      %td
        תיקייה זו מכילה את כל קבצי ה-HTML שנוצרו. 5 הקבצים הבאים נמצאים בתיקייה זו.
    %tr
      %td
        %code index.html.erb
      %td
        ה-HTML של רשימת הרעיונות.
    %tr
      %td
        %code edit.html.erb
      %td
        ה-HTML של עמוד עריכת רעיון.
    %tr
      %td
        %code show.html.erb
      %td
        ה-HTML של עמוד הצגת רעיון.
    %tr
      %td
        %code new.html.erb
      %td
        ה-HTML של עמוד יצירת רעיון חדש.
    %tr
      %td
        %code _form.html.erb
      %td
        ה-HTML של טופס רעיון. עמודי edit ו-new שניהם משתמשים בקובץ הזה כדי להציג את הטופס.

**מאמן/ת:** בהתאם לקצב ההתקדמות, עבור/עברי עם המשתתפות על הקבצים שלעיל או על חלקם והסבר/הסבירי להן פחות או יותר את הקוד. מומלץ לתת את ההסבר הזה לכל המשתתפות בקבוצה יחד.