---
step: tools
part: terminal
title: טרמינל
---

.os-specific
  .nix.osx
    %p בטרמינל מפעילים את שרת ה-Rails ומריצים פקודות.
    =screenshot 'app/tools/terminal.png'
  .windows
    %p הטרמינל נקרא גם Command Prompt ב-Window. בחלון הזה מפעילים את שרת ה-Rails ומריצים פקודות.
    =screenshot 'app/tools/command-windows.png'