---
guide: design
step: font-and-background
part: font
title: הוסיפי פונט מיוחד לאפליקצייה
---

%p 
  =link_to 'Google Fonts', 'https://www.google.com/fonts'
  מכיל אוסף של פונטים מיוחדים שאפשר להוסיף לכל אתר בחינם. בשלב הזה נוסיף את הפונט Arvo לאפליקצייה שלך.

%p 
  פתחי את הקובץ 
  %code app/views/layouts/application.html.erb
  , ואיפשהו בתוך ה-
  %code &lthead&gt
  הוסיפי את השורה:

= preserve do 
  - code("erb") do
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

%p
  בקובץ ה-CSS שלנו
  %code app/assets/stylesheets/application.css.scss
  החליפי את השורה:

= preserve do 
  - code("css") do
    body { padding-top: 80px; }

%p בקוד:

= preserve do 
  - code("css") do
    :plain
      body { 
        padding-top: 80px; 
        font-family: Arvo; 
      }    

%p רפרשי את העמוד ושימי לב איך הפונט השתנה.
