---
guide: app
step: static
title: Create static page in your app
---

Lets add a static page to our app that will hold information about the author of this application — you!

= preserve do
  - code('sh') do
    rails generate controller pages info

This command will create you a new folder under `app/views` called `/pages` and under that a file called `info.html.erb` which will be your info page.

It also adds a new simple route to your routes.rb.

= preserve do
  - code('ruby') do
    get "pages/info"

Now you can open the file `app/views/pages/info.html.erb` and add information about you in HTML and then take your browser to [http://localhost:3000/pages/info](http://localhost:3000/pages/info) to see your new info page.