---
guide: app
step: whats-next
title: מה הלאה?
---

* הוסיפי עיצוב באמצעות HTML ו-CSS
* הוסיפי דירוג 
* השתמשי ב-CoffeeScript (או ב-JavaScript) כדי להוסיף אינטראקטיביות
* הוסיפי resizing לתמונה כדי לזרז את טעינת התמונות

%h3 מדריכים נוספים

* מדריך 0: [Cheatsheet שימושי ל-Ruby, Rails, console ועוד.](https://github.com/PragTob/rails-beginner-cheatsheet)
* מדריך 1: [הוסיפי תגובות מאת Janika Liiv](/commenting)
* מדריך 2: [העלי את האפליקצייה שלך לאינטרנט עם Heroku מאת Terence Lee](/heroku)
* מדריך 3: [בני מפה של משתתפות הסדנה מאת Rails Girls Berlin (אנגלית)](http://railsgirlsberlin.de/apptutorial/)
* מדריך 4: [צרי תמונות מוקטנות (thumbnail) עבור תמונות שהועלו לאפליקצייה מאת Miha Filej](/thumbnails)
* מדריך 5: [הוסיפי עיצוב באמצעות HTML ו-CSS מאת Alex Liao](/design)
* מדריך 6: [הוסיפי אותנטיקציה (משתמשים) עם Devise מאת Piotr Steininger](/devise/)
* מדריך 7: [קראי הסברים נוספים אודות האפליקצייה מאת Lucy Bain](https://github.com/lbain/railsgirls)