---
guide: design
step: list-page
part: rounded-pictures
title: עגלי את התמונות המוקטנות
---

%p
  קראי על 
  =link_to 'Image Shapes', 'http://getbootstrap.com/css/#images'
  בדוקומנטציה של Bootstrap.

%p החליפי את השורה:

= preserve do 
  - code("erb") do
    <td><%= image_tag idea.picture_url(:thumb) if idea.picture? %></td>

%p בשורה:

= preserve do 
  - code("erb") do
    <td><%= image_tag idea.picture_url(:thumb), class: 'img-circle' if idea.picture? %></td>

%p
  רפרשי את העמוד ושימי לב שהתמונות המוקטנות קיבלו צורה של עיגול.