---
step: tools
part: text-editor
title: Text editor
---

%p
  Sublime Text, Komodo Edit, Vim, Emacs, and Gedit are examples of text editors your can use for writing code and editing files.

%img{ src: "http://upload.wikimedia.org/wikipedia/en/archive/8/82/20121122135300!Sublime-text-2-screenshot.png", width: "100%" }
